absl-py==0.12.0
autocommand==2.2.2
backports.tarfile==1.2.0
brotli==1.0.9
bullet-safety-gym==1.4.0
certifi==2025.1.31
charset-normalizer==3.3.2
chex==0.1.82
click==8.1.8
cloudpickle==3.0.0
colorama==0.4.6
commonmark==0.9.1
contextlib2==21.6.0
contourpy==1.3.0
cycler==0.12.1
docker-pycreds==0.4.0
dsrl==0.1.0
etils==1.5.2
farama-notifications==0.0.4
flax==0.5.3
fonttools==4.56.0
fsspec==2025.3.0
gitdb==4.0.12
gitpython==3.1.44
glfw==2.8.0
gym-notices==0.0.8
gym==0.26.2
gymnasium==0.28.1
h5py==3.13.0
idna==3.10
imageio==2.37.0
importlib-metadata==8.5.0
importlib-resources==6.5.2
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jax-jumpy==1.0.0
jax==0.4.13
jaxlib==0.4.13
kiwisolver==1.4.7
matplotlib==3.9.4
mkl-fft==1.3.11
mkl-random==1.2.8
mkl-service==2.4.0
ml-collections==0.1.0
ml-dtypes==0.5.1
more-itertools==10.3.0
msgpack==1.1.0
mujoco==2.3.0
nest-asyncio==1.6.0
numpy==1.26.4
opt-einsum==3.4.0
optax==0.1.5
orbax-checkpoint==0.5.16
packaging==24.2
pathtools==0.1.2
pillow==11.1.0
pip==25.0
platformdirs==3.10.0
pooch==1.8.2
promise==2.3
protobuf==3.20.3
psutil==7.0.0
pybullet==3.2.4
pygame==2.1.0
pygments==2.19.1
pyopengl==3.1.9
pyparsing==3.2.1
pysocks==1.7.1
python-dateutil==2.9.0.post0
pyyaml==6.0.2
requests==2.32.3
rich==11.2.0
safety-gymnasium==0.4.0
scipy==1.10.1
sentry-sdk==2.24.0
setproctitle==1.3.5
setuptools==75.8.0
shortuuid==1.0.13
six==1.17.0
smmap==5.0.2
tensorstore==0.1.69
tomli==2.0.1
toolz==1.0.0
tqdm==4.60.0
typeguard==4.3.0
typing-extensions==4.12.2
urllib3==2.3.0
wandb==0.13.1
wheel==0.45.1
win-inet-pton==1.1.0
xmltodict==0.14.2
zipp==3.21.0